// --------------------------------------------
// --------------------------------------------
//
// Mixins :: Font Face
//
// --------------------------------------------
// --------------------------------------------



// This new font face mixin reduces the number of file formats being served
// and should more closely match our browser support targets
// Loading eot format files, specifically for ie8 doesn't make sense
// Instead, IE8 receives the properly defined fallback fonts

// The suport matrix is as follows:
// Chrome   3.5+
// Safari   3+
// Firefox  3.5+
// Opera    10.1+
// IE       9+
// Android  2.2+
// iOS      4.3+



@mixin font-face($name, $path, $weight: $font-weight-reg, $style: normal, $woff2: false ) {
  $font-path: '#{$font-base-url-path}' + '#{$path}';
  @font-face {
    font-style: $style;
    font-weight: $weight;
    font-family: '#{$name}';

    @if $woff2 == true {
      src: url('#{$font-path}' + '.woff2') format('woff2'),
           url('#{$font-path}' + '.woff') format('woff'),
           url('#{$font-path}' + '.ttf') format('truetype');
    } @else {
      src: url('#{$font-path}' + '.woff') format('woff'),
           url('#{$font-path}' + '.ttf') format('truetype');
    }
  }
}
