


img { max-width: 100%; }

figure { margin: 0; }




.rwd-test {
  &__div {
    width: 100%;
    height: 200px;
    background-color: pink;
    color: #ffffff;
    margin-bottom: $space-three;
    padding: $space-three;
    transition: background-color 0.2s ease;
    @include mq($bp-small) { background-color: green; }
    @include mq($bp-medium) { background-color: blue; }
    @include mq($bp-large) { background-color: red; }
    @include mq($bp-xlarge) { background-color: black; }
  }
}

.l-content {
  @extend %l-content-pad;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}



.test {
  &__group {
    @include clearfix;
    @include space(padding, horizontal, $space-one-and-half);
    @include space(padding, vertical, $space-two);
    @include space(margin, horizontal, auto);
    background-color: #fff;
    border: 1px solid #ccc;
    @include mq(40rem) {
      padding-left: $space-two;
      padding-right: $space-two;
      // max-width: 960px;
      max-width: 1200px;
    }

    & + & {
      @include space(margin, top, $space-three);
      position: relative;
    }
    &--bg { background-color: #fff; }
    &--dark { background-color: $de-bg-midnight; }
  } //__group


  &__sub-section {
    & + & { @include space(margin, top, $space-three) }
  }


  &__h {
    font-family: $font-display;
    font-size: 2rem;
    font-weight: $font-weight-bold;
    margin-bottom: $space-half;
    &--sub {
      margin-top: $space-two;
      margin-bottom: $space-one;
      font-family: $font-body;
      font-size: 0.75rem;
      text-transform: uppercase;
      // color: #666;
      color: $le-type-nonessential;
      letter-spacing: 2px;
      [class*='t-de'] & { color: $de-type-subtle; }
    }

  } // __h


  &__box {
    margin-bottom: $space-one-and-half;
    background-color: $ui-gray-light;
    padding: $space-one;
  } // box

  &__box--white {
    margin-bottom: $space-three;
    background-color: #fff;
    padding: 0;
    clear: left;
  }


  &__notify {
    background-color: $ui-gray-light;
    border-left: 2px solid $ui-orange;
    padding: 0.15rem 1rem;
  }

  &__notify--alert {
    background-color: $ui-orange;
    // border-left: 2px solid darken($ui-orange, 10%);
    padding: 0.15rem 1rem;
    color: #fff;
  }


  &__divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: $space-two 0;
    [class*='t-de'] & { background-color: $de-bg-black-tint; }
  } // divider

  &__color-section {
    & + & { margin-top: $space-one-and-half; }
  }

  &__color-item {
    width: 150px;
    height: 150px;
    background-color: pink;
    float: left;
  }

  &__class {
    font-family: monospace;
    padding: 0.3em 1em;
    background-color: $le-bg-clean-slate;
    font-size: 0.9em;
    display: inline-block;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: lowercase;
    & + & { margin-left: 5px; }

    [class*='t-de'] & {
      background-color: $de-bg-black-tint;
      color: $de-type-subtle;
    }
    [class*='t-le'] & {
      background-color: $le-bg-clean-slate;
      color: currentColor;
    }
  }


} // test



// Testing Colors
// --------------------------------------------

// Dark
.ui-dark--new {
  // > .test__color-item {
  //   &:nth-of-type(1) { background-color: $ui-dark-100; }
  //   &:nth-of-type(2) { background-color: $ui-dark-90; }
  //   &:nth-of-type(3) { background-color: $ui-dark-80; }
  //   &:nth-of-type(4) { background-color: $ui-dark-70; }
  //   &:nth-of-type(5) { background-color: $ui-dark-60; }
  //   &:nth-of-type(6) { background-color: $ui-dark-50; }
  //   &:nth-of-type(7) { background-color: $ui-dark-40; }
  //   &:nth-of-type(8) { background-color: $ui-dark-30; }
  //   &:nth-of-type(9) { background-color: $ui-dark-20; }
  //   &:nth-of-type(10) { background-color: $ui-dark-10; }
  // }
}

.ui-dark {
  > .test__color-item {
    background-color: green;
    &:nth-of-type(1) { background-color: $ui-dark; }
    &:nth-of-type(2) { background-color: $ui-dark-medium; }
    &:nth-of-type(3) { background-color: $ui-dark-light; }
  }
}


// Gray
.ui-gray--new {
  // > .test__color-item {
  //   &:nth-of-type(1) { background-color: $ui-gray-100; }
  //   &:nth-of-type(2) { background-color: $ui-gray-90; }
  //   &:nth-of-type(3) { background-color: $ui-gray-80; }
  //   &:nth-of-type(4) { background-color: $ui-gray-70; }
  //   &:nth-of-type(5) { background-color: $ui-gray-60; }
  //   &:nth-of-type(6) { background-color: $ui-gray-50; }
  //   &:nth-of-type(7) { background-color: $ui-gray-40; }
  //   &:nth-of-type(8) { background-color: $ui-gray-30; }
  //   &:nth-of-type(9) { background-color: $ui-gray-20; }
  //   &:nth-of-type(10) { background-color: $ui-gray-10; }
  // }
}

.ui-gray {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-gray; }
    &:nth-of-type(2) { background-color: $ui-gray-medium; }
    &:nth-of-type(3) { background-color: $ui-gray-light; }
  }
}



// Blue
.ui-blue--new {
  > .test__color-item {
    // &:nth-of-type(1) { background-color: $ui-blue-100; }
    // &:nth-of-type(2) { background-color: $ui-blue-90; }
    // &:nth-of-type(3) { background-color: $ui-blue-80; }
    // &:nth-of-type(4) { background-color: $ui-blue-70; }
    // &:nth-of-type(5) { background-color: $ui-blue-60; }
    // &:nth-of-type(6) { background-color: $ui-blue-50; }
    // &:nth-of-type(7) { background-color: $ui-blue-40; }
    // &:nth-of-type(8) { background-color: $ui-blue-30; }
    // &:nth-of-type(9) { background-color: $ui-blue-20; }
    // &:nth-of-type(10) { background-color: $ui-blue-10; }
  }
}



.ui-blue {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-blue; }
  }
}



// Orange
.ui-orange--new {
  > .test__color-item {
    // &:nth-of-type(1) { background-color: $ui-orange-dark; }
    &:nth-of-type(2) { background-color: $ui-orange; }
    // &:nth-of-type(3) { background-color: $ui-orange-light; }
  }
}


.ui-orange {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-orange; }
  }
}

.ui-orange-hover {
  > .test__color-item {
    &:nth-of-type(1) {
      background-color: $ui-orange;
      transition: background-color 0.3s ease;
      cursor: pointer;
      // &:hover { background-color: $ui-orange-light; }
      // &:active { background-color: $ui-orange-dark; }
    }
  }
}


.ui-primary-team {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $identity-default; }
    &:nth-of-type(2) { background-color: $identity-silver; }
    &:nth-of-type(3) { background-color: $identity-yellow; }
    &:nth-of-type(4) { background-color: $identity-gold; }
    &:nth-of-type(5) { background-color: $identity-orange; }
    &:nth-of-type(6) { background-color: $identity-apple; }
    &:nth-of-type(7) { background-color: $identity-scarlet; }
    &:nth-of-type(8) { background-color: $identity-maroon; }
    &:nth-of-type(9) { background-color: $identity-black; }
    &:nth-of-type(10) { background-color: $identity-sky; }
    &:nth-of-type(11) { background-color: $identity-royal; }
    &:nth-of-type(12) { background-color: $identity-navy; }
    &:nth-of-type(13) { background-color: $identity-purple; }
    &:nth-of-type(14) { background-color: $identity-kelly; }
    &:nth-of-type(15) { background-color: $identity-forest; }
  }
}

.ui-tagging-team {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $tagging-white; }
    &:nth-of-type(2) { background-color: $tagging-white-shade; }
    &:nth-of-type(3) { background-color: $tagging-grey; }
    &:nth-of-type(4) { background-color: $tagging-grey-shade; }
    &:nth-of-type(5) { background-color: $tagging-black; }
    &:nth-of-type(6) { background-color: $tagging-black-shade; }
    &:nth-of-type(7) { background-color: $tagging-yellow; }
    &:nth-of-type(8) { background-color: $tagging-yellow-shade; }
    &:nth-of-type(9) { background-color: $tagging-orange; }
    &:nth-of-type(10) { background-color: $tagging-orange-shade; }
    &:nth-of-type(11) { background-color: $tagging-red; }
    &:nth-of-type(12) { background-color: $tagging-red-shade; }
    &:nth-of-type(13) { background-color: $tagging-green; }
    &:nth-of-type(14) { background-color: $tagging-green-shade; }
    &:nth-of-type(15) { background-color: $tagging-blue; }
    &:nth-of-type(16) { background-color: $tagging-blue-shade; }
    &:nth-of-type(17) { background-color: $tagging-purple; }
    &:nth-of-type(18) { background-color: $tagging-purple-shade; }
  }
}



.ui-alert-red--new {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-red-dark; }
    &:nth-of-type(2) { background-color: $ui-red; }
    &:nth-of-type(3) { background-color: $ui-red-light; }
  }
}


.ui-alert-red {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-red; }
  }
}


.ui-red-hover {
  > .test__color-item {
    &:nth-of-type(1) {
      background-color: $ui-red;
      transition: background-color 0.3s ease;
      cursor: pointer;
      &:hover { background-color: $ui-red-light; }
      &:active { background-color: $ui-red-dark; }
    }
  }
}


.ui-alert-yellow--new {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-yellow-dark; }
    &:nth-of-type(2) { background-color: $ui-yellow; }
    &:nth-of-type(3) { background-color: $ui-yellow-light; }
  }
}


.ui-alert-yellow {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-yellow; }
  }
}

.ui-yellow-hover {
  > .test__color-item {
    &:nth-of-type(1) {
      background-color: $ui-yellow;
      transition: background-color 0.3s ease;
      cursor: pointer;
      &:hover { background-color: $ui-yellow-light; }
      &:active { background-color: $ui-yellow-dark; }
    }
  }
}


.ui-alert-green--new {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-green-dark; }
    &:nth-of-type(2) { background-color: $ui-green; }
    &:nth-of-type(3) { background-color: $ui-green-light; }
  }
}


.ui-alert-green {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-green; }
  }
}


.ui-green-hover {
  > .test__color-item {
    &:nth-of-type(1) {
      background-color: $ui-green;
      transition: background-color 0.3s ease;
      cursor: pointer;
      &:hover { background-color: $ui-green-light; }
      &:active { background-color: $ui-green-dark; }
    }
  }
}


.ui-text {
  > .test__color-item {
    &:nth-of-type(1) { background-color: $ui-text-dark; }
    &:nth-of-type(2) { background-color: $ui-text-medium; }
    &:nth-of-type(3) { background-color: $ui-text-light; }
    &:nth-of-type(4) { background-color: $ui-text-xlight; }
  }
}



.bg--test {
  background-color: $ui-orange;
  padding: $space-three;
  width: 100%;
  height: 100px;
}



// Testing Fonts
// --------------------------------------------

.type__h {
  font-size: 2rem;
  font-family: $font-display;
  & + & { margin-top: $space-one; }
  & + .test__h--sub { margin-top: 75px; }
}



.type {
  &--reg {
    &--ital {
      font-style: italic;
    }
  }

  &--bold {
    font-weight: $font-weight-bold;
    &--ital {
      font-weight: $font-weight-bold;
      font-style: italic;
    }
  }

  &--cond {
    &--reg {
      font-family: $font-display-cond;
      &--ital {
        font-family: $font-display-cond;
        font-style: italic;
      }
    }
  }

  &--cond--bold {
    font-family: $font-display-cond;
    font-weight: $font-weight-bold;
    &--ital {
      font-family: $font-display-cond;
      font-weight: $font-weight-bold;
      font-style: italic;
    }
  }

  &--heavy {
    font-weight: 900;
    &--cond {
      font-family: $font-display-cond;
      font-weight: 900;
    }
  }
}




.feed {
  &__meta {
    border: 1px solid pink;
    margin-bottom: type-scale(0);
  }

  &__item {
    max-width: 496px;
    margin: 0 auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    padding: type-scale(0);
    border-radius: 2px;
  }
}




// Media Grid
// --------------------------------------------
.media-grid-test {
  width: 100%;
  height: 100px;
  background-color: $ui-gray-light;
}




// Explain
// --------------------------------------------
.explain__text {
  font-size: 1rem;
  color: $ui-dark;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}




// Demo
// --------------------------------------------
.class-name { color: red; margin-right: 3px; }

.class-info { color: blue; margin-right: 3px; }

.test__spacer { margin: 2rem 0; }


.bg--dark { background-color: $de-bg-black; padding: 40px; }






// MQ Test
// --------------------------------------------

%mq-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: green;
  color: yellow;
  transition: background-color 0.2s ease;
  p { text-align: center; width: 100%; }
}


$mq-1:    blue;
$mq-2:    pink;
$mq-3:    orange;
$mq-4:    black;
$mq-5:    purple;

$bp-1:    30rem;  // 480px
$bp-2:    35rem;  // 560px
$bp-3:    40rem;  // 640px
$bp-4:    45rem;  // 720px


.mq-test {
  @extend %mq-div;
  // @include mq($bp-1, max) { background-color: $mq-1; }
  @include mq($bp-1, max) {background-color: $mq-1; }
  @include mq($bp-1, $bp-2) { background-color: $mq-2; }
  @include mq($bp-2, $bp-3) { background-color: $mq-3; }
  @include mq($bp-3, $bp-4) { background-color: $mq-4; }
  @include mq($bp-4) { background-color: $mq-5; }
}


.im-test {
  @extend %mq-div;
  // @include media('<#{$bp-1}') {background-color: $mq-1; }
  // @include media('<=#{$bp-1}') {background-color: $mq-1; }
  // @include media('>480px') {background-color: $mq-1; }
  // @include media('>=480px') {background-color: $mq-1; }
  // @include media('<=480px') {background-color: $mq-1; }
  @include media('<=test1') {background-color: $mq-2; }
  @include media('>=test1', '<=tablet') { background-color: $mq-3; }

  // @include media($bp-1, $bp-2) { background-color: $mq-2; }
  // @include media($bp-2, $bp-3) { background-color: $mq-3; }
  // @include media($bp-3, $bp-4) { background-color: $mq-4; }
  // @include media($bp-4) { background-color: $mq-5; }


}


// .mq-test {
//   @extend %mq-div;
//   @include mq($bp-1, max) {background-color: $mq-1; }
// }




// Dark Environment testers
// --------------------------------------------
.de-tester--midnight { background-color: $de-bg-midnight; }
.de-tester--ink { background-color: $de-bg-ink; }
.de-tester--black { background-color: $de-bg-black; }
